<!-- sidebar.component.html -->
<nav id="sidebar" class="d-flex flex-column bg-light border-right vh-100">
    <div class="sidebar-header p-3 bg-primary text-white">
      <h3>Sidebar Title</h3>
    </div>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" href="#homeSubmenu" data-bs-toggle="collapse" aria-expanded="false">Home</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li class="nav-item">
            <a class="nav-link" href="#">Home 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Home 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Home 3</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#pageSubmenu" data-bs-toggle="collapse" aria-expanded="false">Pages</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
          <li class="nav-item">
            <a class="nav-link" href="#">Page 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Page 2</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Page 3</a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </nav>
  